 <% layout('layout.html') %> <% script('js/index/index.js') -%>
<div class="uk-form login-form">
    <label for="username">username:</label><input type="text" class="username" id="username"/><br>
    <label for="password">password:</label><input type="text" class="password" id="password"/><br>
    <a type="submit" class="uk-button uk-button-primary" id="login">登录</a><br>
</div>
<div class="uk-form register-form">
    <label>username:</label><input type="text" class="username" id="username"/><br>
    <label>password:</label><input type="password" class="password" id="password"/><br>
    <label>confirm password:</label><input type="password" class="confirm-password" /><br>
    <input id="regSubmit" type="button" class="uk-button uk-button-primary"
    	value="注册" />
</div>