<!DOCTYPE HTML>
<html>
<head>
<title>Employees Test</title>
<link rel="stylesheet"
	href="/stylesheets/lib/uikit/css/uikit.almost-flat.css">
	<link rel="stylesheet"
    href="/stylesheets/common/common.css">
<script type="text/javascript" src="js/lib/jquery/jquery-1.9.1.js"></script>
<script type="text/javascript" src="js/lib/uikit/js/uikit.js"></script>
<%-scripts%>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="header-logo"></div>
            <div class="header-navbar">
                <nav class="uk-navbar">
				    <ul class="uk-navbar-nav">
				        <li class="uk-active"><a href="">标题1</a></li>
				        <li><a href="">标题2</a></li>
				        <li class="uk-parent"><a href="">标题3</a></li>
				    </ul>
				</nav>
            </div>
        </div>
        <div class="content">
            <%- body%>
        </div>
    </div>
    
	
</body>
</html>